services:
  bot:
    build: .
    container_name: discord_bot
    restart: on-failure:5
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - botnet

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: on-failure:5
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - botnet

networks:
  botnet:
    driver: bridge

volumes:
  db_data:
